<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.mapper.FileSuffixMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.model.FileSuffixDO">
        <id column="id" property="id" />
        <result column="file_suffix" property="fileSuffix" />
        <result column="file_type_id" property="fileTypeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_suffix, file_type_id
    </sql>

</mapper>
